/* Login.css */

.login-container {
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  border: 5px solid lightsalmon;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-width:200px;
  max-width: 600px;
  border: 2px solid grey;
  border-radius: 8px;
  padding: 1.5rem;
  gap: 1rem;
}
.login-form label {
  font-size: 1rem;
  color: #555;
  align-self:flex-start;
  font-weight: bold;
}

.login-form input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
}

.login-form input:focus {
  border-color: #007bff;
  outline: none;
}

.login-form button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #0056b3;
}

.error-message {
  margin-top: 1rem;
  color: #d9534f;
  font-size: 0.95rem;
}
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.button-group button {
  flex: 1;
}

.secondary-button {
  background-color: #6c757d;
}

.secondary-button:hover {
  background-color: #5a6268;
}
.welcome-message {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #444;
  line-height: 1.5;
  text-align: center;
  max-width: 500px;
}

.register-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.register-link:hover {
  color: #0056b3;
}


@media screen and (max-width: 767px) {

   .login-container {
    padding: 10px;
    height: 80vh;
    justify-content: flex-start;
  }
  
  
}